/*
font-family: 'Work Sans', sans-serif;
font-family: LarishNeu;
*/

@font-face {
    font-family: LarishNeu;
    src: url(../font/LarishNeueSemibold.woff);
  }
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");


  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: LarishNeu;
  }

  h6 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  button {
    height: 3.5em;
    width: 8em;
    background-color: transparent;
  }

  button:hover {
    background-color: #fff;
    color: #000;
  }

  /* CALIFORNIA */

  /* STATISTICS */
  #statistics {
    height: 200vh;
    background-color: #000;
    color: #fff;
    padding: 10% 0 0 10%;
  }
  #statistics h2,
  h2 {
    font-size: 6.3em;
    width: 90%;
    line-height: 1em;
    padding-top: 2%;
  }
  #statistics article {
    padding-top: 10%;
    height: 75vh;
    background-image: url(../img/map.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* GALLERY */

  /* BEARS */

  /* POPPYBEAR */

  /* FOOTER */