/*
font-family: 'Work Sans', sans-serif;
font-family: LarishNeu;
*/

@font-face {
    font-family: LarishNeu;
    src: url(../font/LarishNeueSemibold.woff);
  }
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");


  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: LarishNeu;
  }

  h6 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  button {
    height: 3.5em;
    width: 8em;
    background-color: transparent;
  }

  button:hover {
    background-color: #fff;
    color: #000;
  }

  span:not(h1 > span, footer h5 span) {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  /* CALIFORNIA */

  /* STATISTICS */

  #statistics {
    height: 200vh;
    background-color: #000;
    color: #fff;
    padding: 10% 0 0 10%;
  }

  #statistics h2,
  h2 {
    font-size: 6.3em;
    width: 90%;
    line-height: 1em;
    padding-top: 2%;
  }

  #statistics article {
    padding-top: 10%;
    height: 75vh;
    background-image: url(../img/map.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* GALLERY */

  .gallery {
    display: grid;
    height: 260vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 8vw);
    grid-gap: 15px;
    position: relative;
  }
  
  .gallery a {
    display: none;
  }
  
  .scrolling-wrapper {
    display: grid;
  }
  
  .gallery__img {
    width: 10%;
    height: 10%;
    object-fit: cover;
  }
  
  .gallery__item_1 {
    position: absolute;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    top: -30%;
  }
  
  .gallery__item_2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    position: absolute;
  }
  
  .gallery__item_3 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 7;
    position: absolute;
  }
  
  .gallery__item_4 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
    position: absolute;
  }
  
  .gallery__item_5 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
    position: absolute;
  }
  
  .gallery__item_6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 13;
    position: absolute;
  }
  
  .gallery__item_7 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 13;
    grid-row-end: 15;
    z-index: 1;
    position: absolute;
  }
  
  .gallery article {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6;
    width: 80%;
    font-size: 0.9em;
    position: relative;
  }
  
  .gallery .designteam {
    font-size: 1.1em;
    padding: 2% 0;
    width: 70%;
    line-height: 1.8em;
  }
  
  .gallery .purchase {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 13;
    font-size: 1.1em;
    line-height: 1.8em;
    width: 65%;
  }

  /* BEARS */
  #bears {
    position: relative;
    height: 185vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: wrap;
    z-index: 0;
  }
  #bears aside:nth-of-type(1) {
    margin: 15% -2% 15% 10%;
    width: 40%;
  }
  #bears aside:nth-of-type(2) {
    margin-top: 18%;
    width: 39%;
  }
  #bears aside p {
    font-family: LarishNeu;
    font-size: 1.8em;
    line-height: 1.3em;
    padding-bottom: 5%;
  }
  #bears img:nth-of-type(1) {
    position: absolute;
    z-index: 1;
    width: 53vw;
    top: 58%;
    left: 13%;
  }
  #bears img:nth-of-type(2) {
    position: absolute;
    width: 30vw;
    z-index: 5;
    top: 65%;
    right: 10%;
  }
  /* POPPYBEAR */

  /* FOOTER */

  footer {
    position: relative;
    display: flex;
    flex-wrap: column;
    background-color: #000;
    height: 110vh;
    color: #fff;
    overflow: hidden;
  }
  footer aside:nth-of-type(1) {
    padding: 10% 0 0 10%;
  }
  footer p:nth-of-type(1) {
    width: 45%;
    font-size: 1.9em;
    padding: 2% 0;
  }
  footer .social {
    margin: 7% 0;
  }
  footer ul li {
    padding-right: 1%;
    display: inline;
    list-style-type: none;
  }
  footer li a img {
    width: 2.5%;
  }
  footer ul h6 {
    font-size: 1em;
    padding-top: 1%;
  }
  footer figure {
    position: absolute;
    top: 80%;
    left: 75%;
  }
  figure img {
    width: 30%;
  }
  footer h6 {
    line-height: 2em;
  }
  footer .banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 5.4em;
    white-space: nowrap;
    height: 13vh;
    background-color: #fff;
    color: #000;
    transform: translateY(300%) translateX(-7%) rotate(40deg);
  }
  footer h5 {
    animation: 3s linear 0s infinite alternate move;
    text-align: right;
  }
  footer h5 span {
    font-family: LarishNeu;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    text-align: right;
  }